@media (min-width:1080){
    .main{
        height: 100%;
        width: 100%;
        background-color: salmon;
        display: grid;
        place-items: center;
        margin: 0;
    }
    
    .cuentas{
        border: solid red;
        margin: 10rem 0 10rem 0;
    }

    .main input{
        background-color: lightblue;
    }

    .main ul{
        list-style: disc;
        border-radius: 10px;
    }
}

.main{
    width: 100%;
    background-color: salmon;
    display: grid;
    place-items: center;
    margin: 0;
}

.cuentas{
    border: solid red;
    margin: 2rem 0 2rem 0;
}

.main input{
    background-color: lightblue;
    border-radius: 10px;
}

.main ul{
    list-style:disc;
}